.searchbar-container {
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar-container input {
  padding: 16px;
  width: 70%;
  font-size: 20px;
  border-radius: 25px;
  outline: none;
  border: 0.5px solid gray;
}
